@import 'mediaQueries';

$primary-bg-color: #121516;
$outline-color: #43494D;
$primary-text-color: #98A3AD;

$polka-primary-color: #E6007A;
$code-string-color: #B4BE68;

$decor-triangle-width: 32px;
$decor-triangle-width-mobile: 25px;

$outline-width: 2px;

$sqrt-2: 1.41421;