@import './abstracts/variables';

.footer{
    width: 100%;
    padding-bottom: 25px !important;
    &Container{
        width: 100%;
        border: $outline-width solid $outline-color;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        margin-top: -2px;
        @include md-down{
            text-align: center;
            font-size: 14px;
        }

        //@include md-down {
        //    flex-direction: column;
        //    flex-wrap: wrap;
        //}
    }
}