@import './abstracts/variables';

.componentContainer {
  width: 100%;
  padding: 95px 120px 75px 120px;
  border: $outline-width solid $outline-color;
  margin-top: -$outline-width;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  @include tablet-landscape-down {
    padding: 80px 15px 50px;
  }
  @include md-down {
    padding: 80px 0px 57px;
  }
  .scrollWrapper{
    width: 100%;
    overflow: scroll;
  }
  .wizardWrapper{
    border: $outline-width solid $outline-color;
    width: 100%;
    margin-top: 20px;
    @include md-down {
      width: 100%;
      border-top: $outline-width solid $outline-color;
      border-bottom: $outline-width solid $outline-color;
      border-right: none;
      border-left: none;
    }
    @include sm-down {
      width: fit-content;
      margin-top: 40px;
    }
    .header{
      padding: 12px 8px 12px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: $outline-width solid $outline-color;
      @include md-down {
        padding: 8px 4px 8px 10px;
      }
      .tokenStandardRow{
        display: flex;
        .controlsDisplayingController{
          padding: 5px 15px 5px 5px;

          img{
            transform: rotate(180deg);
            transition: all .3s ease;
          }
          @include md-up {
            display: none;
          }
          &.open{
            @include md-down {
            img{
                transform: rotate(0deg);
              }
            }
          }
        }
        .tokenStandard{
          padding: 6px 8px;
          margin-right: 8px;
          cursor: pointer;
          border-radius: 4px;
          border: $outline-width solid transparent;
          @include md-down {
            padding: 4px 6px;
            font-size: 14px;
          }
          &.active{
            background: $polka-primary-color;
            color: #ffffff;
          }
          &:hover{
            border: $outline-width solid $outline-color;
          }
        }
      }
      .actionsRow{
        display: flex;
        .copyToClipboard{
          padding: 12px 10px;
          margin-right: 8px;
          cursor: pointer;
          border-radius: 4px;
          border: $outline-width solid $outline-color;
          display: flex;
          align-items: center;
          transition: all .1s ease;
          &:hover{
            background: rgba(255, 255, 255, 0.06);
          }
          .copyIcon{
            width: 22px;
            height: auto;
            margin-right: 5px;
          }
        }
      }

    }
    .body {
      display: flex;

      .contractControls {
        width: 23%;
        min-width: 230px;
        padding: 8px;
        border-right: $outline-width solid $outline-color;
        transition: all .3s ease;
        @include md-down {
          padding: 5px;
          max-width: 230px;
        }
        &.closed{
          @include md-down {
            margin-left: -230px;
          }
        }

        .inputSection{
          padding: 7px 0;
          &:not(:last-child){
            border-bottom: $outline-width solid $outline-color;
          }
          &:not(:first-child){
            padding-top: 18px;
          }
        }

        .settingsInputs {
          display: flex;
          flex-wrap: wrap;
          //.tokenNamingInputs{
          //  display: flex;
          //  margin-bottom: 15px;
          //  &__Name{
          //    margin-right: 10px;
          //  }
          //  input{
          //    margin-top: 4px;
          //  }
          //}
          @include md-down {
            font-size: 14px;
          }
          .textInput{
            display: flex;
            justify-content: space-between;
            margin-left: 6px;
            width: 100%;
            label{
             // min-width: 30%;
              margin-top: 8px;
            }
          }
          .checkboxContainerNested{
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            column-gap: 2px;
          input[type="text"] {
            //border: none;
            padding: 3px 3px 0px 3px;
            font-family: inherit;
            font-size: 16px;
            color: $primary-text-color;
            //border-radius: 4px;
            //width: max-content;
            background: $primary-bg-color;
            border: none;
            border-bottom: 1px solid rgba(256, 256, 256, 0.6);

            margin: 10px;
            width: 100%;
            @include md-down {
              font-size: 14px;
            }

            &:focus {
              outline: none;
            }
          }

            input[type="checkbox"] {
              margin: 2px 10px 5px 5px;
              position: relative;

              height: 15px;
              width: 15px;
              -webkit-appearance: none;
              -moz-appearance: none;
              -o-appearance: none;
              appearance: none;
              border: 1px solid $outline-color;
              border-radius: 2px;
              outline: none;
              transition-duration: 0.07s;
              background-color: transparent;
              cursor: pointer;

              &:checked{
                background-color: $polka-primary-color;
              }
              &:checked+span::before {
                position: absolute;
                content: '';
                left: 0;
                display: inline-block;
                height: 15px;
                width: 15px;
                margin: 1px 2px 3px 4px;
                flex-shrink: 0;
                flex-grow: 0;
                border-radius: 2px;
                //margin-right: 0.5em;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;

                border-color: #0b76ef;
                background-color: transparent;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");

                @include md-down {
                  margin: -1px 2px 3px 4px;
                }
              }
              &:checked+span {
                color: $code-string-color;
              }
            }
          }

        }

        .controlsSectionName{
          color: $code-string-color;
          margin: 6px 0 6px 6px;
          font-size: 20px;
          @include md-down {
            font-size: 16px;
          }
        }

        .checkboxContainer{
          padding: 10px 5px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          > * {
            font-size: 18px;
            @include md-down {
                font-size: 14px;
            }
          }
          &:hover{
            background: rgba(255, 255, 255, 0.07);
            border-radius: 4px;
            cursor: pointer;
            color: $code-string-color;
          }
        }

        .tooltipContainer{
          position: relative;
          display: flex;
          justify-content: center;
          margin-left: 5px;
          &:hover > .tooltipInfo {
            visibility: visible;
            opacity: 1;
          }
          .tooltipInfo{
            position: absolute;
            padding: 10px;
            bottom: 30px;
            //left: -50%;
            background: $outline-color;
            max-width: 160px;
            width: max-content;
            border-radius: 3px;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
            font-size: 12px;
            z-index: 100;
          }
          .infoIcon{
            margin-right: 5px;
            width: 15px;
            opacity: 0.8;
            transition: all .3s ease;
            &:hover{
              opacity: 1;
            }
          }
        }
      }

      .contractOutput{
        width: 100%;
        //padding: 25px;
        min-width: 450px;
        //@include tablet-portrait-down {
        //  padding: 10px;
        //}
        //@include md-down {
        //  min-width: 255px;
        //}
        pre{
          background: transparent !important;
          padding: 20px 0;
          @include tablet-portrait-down {
            padding: 0px;
          }
        }
        code{
          font-size: 12px;
          span{
            white-space: pre;
          }
        }
      }
    }
  }

  .bottomLinksButtons {
	  display: flex;
	  justify-content: space-between;
	  margin-top: 40px;
	  column-gap: 40px;
  }

  .bottomLinkBtn {
	  text-align: center;
	  width: 13em;

    border: $outline-width solid $outline-color;
    border-radius: 6px;
    padding: 25px 0px;
    transition: all .2s ease;
    @include tablet-portrait-down {
      margin-top: 20px;
      padding: 15px 0px;
    }
    &:hover{
      border: $outline-width solid $code-string-color;
      a{
        color: $code-string-color;
      }
    }
    a{
      transition: all .2s ease;
      padding: 25px 20px;
      width: 100%;
      font-size: 22px;
      @include tablet-portrait-down {
        padding: 15px;
        font-size: 18px;
      }
    }
  }
}
