@import './abstracts/variables';

.tabsSwitch{
  width: 100%;
  display: flex;
  border-bottom: $outline-width solid rgba(67, 73, 77, .6);
  div{
    width: 50%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    &:first-of-type{
      border-right: $outline-width solid rgba(67, 73, 77, .6);
    }
    &:hover{
      color: $code-string-color;
    }
    &.activeTab{
      color: $code-string-color;
    }
  }
}